.Main{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding-bottom: 10px;
}
.Main .main-inner{
    width: 100%;
    height: auto;
    background: #fff;
    /* padding: 23.5px 0 */
    padding: 6% 0; 
}
.Main .main-inner .m-list{
    flex-wrap: wrap;
}
.Main .main-inner .m-item{
    width: 33.3333% !important;
    flex-wrap: wrap;
    text-align: center;
}

.Main .main-inner .m-item:nth-child(4),
.Main .main-inner .m-item:nth-child(5),
.Main .main-inner .m-item:nth-child(6)
{
    /* margin-top: 31px; */
    margin-top: 8%;
}

.Main .main-inner .m-item > div:first-child{
    position: relative;
    max-width: 100%;
    /* width: 47px; */
    width:37.6%;
    max-width: 47px;
    font-size: 0;
    line-height: 1;
    margin: auto;
}

.Main .main-inner .m-item .guide{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    /* z-index: 102; */
}
.Main .main-inner .m-item .guide .circle-line{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 130%;
    height: 130%;
}
.Main .main-inner .m-item .guide .jiantou{
    width: 75%;
    position: relative;
    margin-top: 35%;
    margin-left: 35%;
}
.Main .main-inner .m-item .guide .jiantou.youjiantou{
    transform-origin: 18% 0;
    transform: rotateY(180deg);
}
.Main .main-inner .m-item .guide .text-box{
    position: fixed;
    box-sizing: border-box;
    left:0;
    padding: 0 4%;
    
}
.Main .main-inner .m-item .guide .text-box p{
    line-height: 1.5;
    margin-top:10px;
    font-size: 18px;
    color: #fff;
}
.Main .main-inner .m-item .guide .next{
    margin-top: 20px;
}
.Main .main-inner .m-item .guide .next a{
    font-size: 18px;
    color: #fff;
    padding: 8px 20px;
    border:1px solid #fff;
    border-radius: 3px;
}


.Main .main-inner .m-item > div:first-child + p{
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #424242;
}
.Main .main-inner .m-icon{
    width: 100%;
}
