.DeviceManagement .deviceManagement-container{
    background: #F8F8F8;
    overflow: hidden;
    font-size: 15px;
}

.DeviceManagement .deviceManagement-container .row-block{
    margin-bottom: 2.6%;
}
.DeviceManagement .deviceManagement-container .row-block .row{
    display: block;
    background: #fff;
    padding: 0 4%;
}
.DeviceManagement .deviceManagement-container .row-block .row .flex{
    padding: 4.1% 0;
}

/* 第二块 */
.DeviceManagement .deviceManagement-container .row-block:nth-of-type(2) .row{
    padding-right: 0;
}
.DeviceManagement .deviceManagement-container .row-block:nth-of-type(2) .row .flex{
    padding-right: 4.1%;
    padding-top:4.8%;
    padding-bottom:4.8%;
}
.DeviceManagement .deviceManagement-container .row-block:nth-of-type(2) .row .flex{
    border-bottom: 1px solid rgba(159,159,159,.12);
}
.DeviceManagement .deviceManagement-container .row-block:nth-of-type(2) .you-jian-tou{
    width: 6px;
}
/* 第三块 */
.DeviceManagement .deviceManagement-container .begin-time,
.DeviceManagement .deviceManagement-container .end-time{
    width:80px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    background: rgba(247,247,247,1);
    color:rgba(153,153,153,1);
    border-radius: 4px;
    position: relative;
    /* overflow: hidden; */
}
.DeviceManagement .deviceManagement-container .begin-time{
    margin-right: 10px;
}
.DeviceManagement .deviceManagement-container .end-time{
    margin-left: 10px;
}

.DeviceManagement .deviceManagement-container .begin-time input,
.DeviceManagement .deviceManagement-container .end-time input{
    position: absolute;
    z-index: 2;
    width: 100%;
    left:0;
    top:0;
    opacity: 0.01;
    /* visibility: hidden; */
}