.flex{
    display: flex;
}
.flex.align-items-center{
    align-items: center;
}
.flex1{
    flex: 1;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}