
.logo{width:100%;margin-top:70px;text-align: center;}
.logo img{width:18.6%;max-width:70px;}

.login-bianla-form{width:80%;margin:auto;margin-top:50px;}

.form-group{border-bottom:1PX solid rgba(230,230,230,1);margin-top:20px;/*px*/}
.form-group label{width: 30px;}
.form-group {padding:10px 5px;}
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="password"]{font-size:15px;/*px*/border: none;width: 100%;padding: 0.3em;}
.shouji{width:14px;}
.shuo{width:17px;}

.login{
    width:100%;
    height:42px;
    background:rgba(64,204,69,1);
    border-radius: 3px;
    margin:auto;
    margin-top:70px;
    font-size:18px;/*px*/
    color:#fff;
    border:none;
    transition:background 0.45s;
}
.forget-password-link{
    float: right;
    margin-top:10px;
    font-size:13px; /*px*/
    color: #40CC45;
}
.login-app{
    background: #fff;
    min-height: 100vh;
    overflow: hidden;
}
.login-app .disabled{background:#d2f3d4;}

.login-app .tishi{
    width:100%;
    height:22px;
    font-size:13px;/*px*/
    font-family:PingFang-SC-Regular;
    color:rgba(153,153,153,1);
    line-height:1;
    text-align:center;
    margin-top:23px;
}
.login-app .error-ts{color:red;font-size:13px;/*px*/}

@media screen and (max-width:320px){
    .logo{
        margin-top: 50px;
    }
    .login-bianla-form{
        margin-top: 35px;
    }
    .login{
        margin-top: 50px;
    }
}